<div class="top_page">
    <h2>Your company:</h2>
    <h1>BMO Financial Group</h1>
    <p>What people are feeling about your company...</p>
    <div class="button white round">
        Analyze
    </div>
</div>

<div class="main_wrapper">
    <section class="content" id="chart_section">
        <h1>Customer Sentiment Chart</h1>
        <p>May 12, 2018 - present</p>

        <div class="pie_chart">
            <span></span>
            <span>
                <ul>
                    <li>
                        <span class="bar"> Joy
                            <span class="percentage"></span>
                    </li>
                    <li>
                        <span class="bar"> Anger
                            <span class="percentage"></span>
                    </li>

                    <li>
                        <span class="bar"> Sadness
                            <span class="percentage"></span>
                    </li>

                    <li>
                        <span class="bar"> Fear
                            <span class="percentage"></span>
                    </li>

                    <li>
                        <span class="bar"> Analytical
                            <span class="percentage"></span>
                    </li>

                    <li>
                        <span class="bar"> Confident
                            <span class="percentage"></span>
                    </li>
                    <li>
                        <span class="bar"> Tentative
                            <span class="percentage"></span>
                    </li>

                </ul>
                </span>
        </div>
    </section>
    <section class="content" id="autores">
        <div class="tone">
            <span class="tone_header">
                <span class="col"> Anger</span>
                <div class="message">
                    <h1>How would you respond to...</h1>
                    <p>"Your service makes me want to smash my phone!"</p>
                    <p>I'm not impressed by the efficiency of the new app, please fix it.</p>
                </div>
                <div class="response">
                    <h1>Your response:</h1>
                    <ul>
                        <li>
                            <span>
                                <textarea placeholder="Write here..."></textarea>
                            </span>
                            <span class="options">
                                <ul>
                                    <li>Edit</li>
                                    <li>Delete</li>
                                </ul>
                            </span>
                        </li>

                        <li>
                            <span>
                                <textarea placeholder="Write here..."></textarea>
                            </span>
                            <span class="options">
                                <ul>
                                    <li>Edit</li>
                                    <li>Delete</li>
                                </ul>
                            </span>
                        </li>
                    </ul>

                    <div class="new_response_btn">
                        <i class="fas fa-plus"></i> &nbsp; Add a new response
                    </div>
                </div>
        </div>
    </section>
    <div class="bot_page">
        <h1>Keeping up with the feed</h1>
        <div class="button white round">
            View Sentimental History
        </div>
    </div>
</div>